<md-radio-group [(ngModel)]="isNewUser">
  <md-radio-button [value]="true">New User</md-radio-button>
  <md-radio-button [value]="false">Existing User </md-radio-button>
</md-radio-group>
<p>{{isNewUser}}</p>
<div *ngIf="isNewUser">
  <form [formGroup]="newUserForm" (ngSubmit)="onSubmitNewUserForm()">
    <md-input-container>
      <input mdInput placeholder="Insert a user Id" formControlName="username" />
    </md-input-container>
    <button md-button type="submit">Create new user</button>

  </form>
</div>