<md-radio-group [(ngModel)]="isNewUser">
  <md-radio-button [value]="true">New User</md-radio-button>
  <md-radio-button [value]="false">Existing User </md-radio-button>
</md-radio-group>
<p>{{isNewUser}}</p>
<div *ngIf="isNewUser">
  <form [formGroup]="newUserForm" (ngSubmit)="onSubmitNewUserForm()">
    <md-input-container>
      <input mdInput placeholder="Insert an email" formControlName="email" />
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Insert a password" formControlName="password" />
    </md-input-container>
        <md-input-container>
      <input mdInput placeholder="Repeat the password" formControlName="confirmPassword" />
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Insert a gender" formControlName="gender" />
    </md-input-container>
    <button md-button type="submit">Create new user</button>

  </form>
</div>

<button md-button (click)="login()">Login</button>
<button md-button (click)="test()">Test</button>
<button md-button (click)="logout()">Logout</button>

{{currentUser?.userName}}

<p>
  {{testString}}
  </p>

  <p>hello {{secondKeyDescription}}</p>